In [70]:
import pandas as pd

In [71]:
data=pd.read_csv('sales_06_FY2020-21 copy.csv')

C:\Users\nprem\AppData\Local\Temp\ipykernel_17612\536294101.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('sales_06_FY2020-21 copy.csv')

In [72]:
df=pd.DataFrame(data)

In [73]:
df.head(5)

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [74]:
df.isnull().sum()

order_id            0
order_date          0
status              0
item_id             0
sku                 0
qty_ordered         0
price               0
value               0
discount_amount     0
total               0
category            0
payment_method      0
bi_st               0
cust_id             0
year                0
month               0
ref_num             0
Name Prefix         0
First Name          0
Middle Initial      0
Last Name           0
Gender              0
age                 0
full_name           0
E Mail              0
Customer Since      0
SSN                 0
Phone No.           0
Place Name          0
County              0
City                0
State               0
Zip                 0
Region              0
User Name           0
Discount_Percent    0
dtype: int64

In [75]:
df.drop_duplicates(inplace=True)

In [76]:
df['Gender']=df['Gender'].replace({'F':'Female','M':'Male'})

In [77]:
df['Gender']

0         Female
1         Female
2         Female
3         Female
4         Female
           ...
286387      Male
286388      Male
286389    Female
286390    Female
286391      Male
Name: Gender, Length: 286392, dtype: object

In [78]:
df['age'] = df['age'].astype(int)

In [79]:
df['age']

0         43
1         43
2         43
3         43
4         43
          ..
286387    51
286388    52
286389    38
286390    38
286391    28
Name: age, Length: 286392, dtype: int32

In [80]:
df.dtypes

order_id             object
order_date           object
status               object
item_id             float64
sku                  object
qty_ordered         float64
price               float64
value               float64
discount_amount     float64
total               float64
category             object
payment_method       object
bi_st                object
cust_id             float64
year                  int64
month                object
ref_num               int64
Name Prefix          object
First Name           object
Middle Initial       object
Last Name            object
Gender               object
age                   int32
full_name            object
E Mail               object
Customer Since       object
SSN                  object
Phone No.            object
Place Name           object
County               object
City                 object
State                object
Zip                   int64
Region               object
User Name            object
Discount_Percent    float64
dtype: object

In [81]:
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')

In [ ]:
df.dtypes#shoud be change datetime64[ns]

ORDER_ID                    object
ORDER_DATE          datetime64[ns]
STATUS                      object
ITEM_ID                    float64
SKU                         object
QTY_ORDERED                float64
PRICE                      float64
VALUE                      float64
DISCOUNT_AMOUNT            float64
TOTAL                      float64
CATEGORY                    object
PAYMENT_METHOD              object
BI_ST                       object
CUST_ID                    float64
YEAR                         int64
MONTH                       object
REF_NUM                      int64
NAME PREFIX                 object
FIRST NAME                  object
MIDDLE INITIAL              object
LAST NAME                   object
GENDER                      object
AGE                          int32
FULL_NAME                   object
E MAIL                      object
CUSTOMER SINCE              object
SSN                         object
PHONE NO.                   object
PLACE NAME                  object
COUNTY                      object
CITY                        object
STATE                       object
ZIP                          int64
REGION                      object
USER NAME                   object
DISCOUNT_PERCENT           float64
dtype: object

In [88]:
df['order_date']

0        2020-10-01
1        2020-10-01
2        2020-10-01
3        2020-10-01
4        2020-11-13
            ...
286387   2021-09-30
286388   2021-09-30
286389   2021-09-30
286390   2021-09-30
286391   2021-09-30
Name: order_date, Length: 286392, dtype: datetime64[ns]

In [93]:
df.columns=df.columns.str.strip().str.upper()

In [95]:
df.head(2)

,ORDER_ID,ORDER_DATE,STATUS,ITEM_ID,SKU,QTY_ORDERED,PRICE,VALUE,DISCOUNT_AMOUNT,TOTAL,...,SSN,PHONE NO.,PLACE NAME,COUNTY,CITY,STATE,ZIP,REGION,USER NAME,DISCOUNT_PERCENT
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [89]:
df.to_csv('sales_06_FY2020-21 copy.csv',index=False)